@charset "UTF-8";
/* 1025px 이상 로고 width */
#kt_header_brand > a > img{
	width:130px;
}
.osl-margin-r-1rm{
	margin-right: 1rem !important;
}
.osl-margin-r-2rm{
	margin-right: 2rem !important;
}
.osl-margin-r-3rm{
	margin-right: 3rem !important;
}
.osl-margin-t-1rm{
	margin-top: 1rem !important;	
}
.osl-margin-t-2rm{
	margin-top: 2rem !important;	
}
.osl-margin-t-3rm{
	margin-top: 3rem !important;	
}
.osl-margin-b-05rm{
	margin-bottom: 0.5rem !important;	
}
.osl-margin-b-1rm{
	margin-bottom: 1rem !important;	
}
.osl-margin-b-175rm{
	margin-bottom: 1.75rem !important;	
}
.osl-padding-t-025rm{
	padding-top: 0.25rem !important;
}
.osl-font-size-125rm{
	font-size:1.25rem !important;
}
.osl-font-size-15rm{
	font-size:1.5rem !important;
}
.osl-margin-r-auto{
	margin-right: auto;
}
.osl-flex-row-fluid{
	-webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}
/* 폰트 지정 */
body {
  font-family: "Poppins", "Nanum Gothic";
}
.tooltip {
  font-family: "Poppins", "Nanum Gothic";
}
.popover {
  font-family: "Poppins", "Nanum Gothic";
}
.kt-uppy .uppy-Root {
  font-family: "Poppins", "Nanum Gothic";
}
/* input 유효성 값 오류 시 글자 크기 */
.invalid-feedback {
    font-size: 85%;
}
/* chrome input 자동완성 색상 지우기 */
input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/* mask */
.osl-mask{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: center;
	-ms-flex-align: center;
    align-items: center;
    
    -webkit-box-pack: center;
	-ms-flex-pack: center;
    justify-content: center;
    
    -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
/* 정렬 */
.osl-align-center--imp{
	text-align:center !important;
}
.osl-align-left--imp{
	text-align:left !important;
}
.osl-align-right--imp{
	text-align:right !important;
}
.osl-valign-middle--imp{
	vertical-align: middle !important;
}
.osl-valign-top--imp{
	vertical-align: top !important;
}
.osl-valign-bottom--imp{
	vertical-align: bottom !important;
}
.dropdown-menu > .dropdown-item{
	cursor: pointer;
}
.dropdown-menu > li > a > i, .dropdown-menu > .dropdown-item > i {
    width: 20px;
}
.dropdown-item{
	color: #44425c;
}
/* 여백 */
.osl-padding-r0{
	padding-right: 0 !important;
}
.osl-padding-l05{
	padding-left:0.5rem;
}
.osl-margin-b-05{
	margin-bottom: 0.5rem;
}
.osl-badge-brand{
	display: inline-block;
	padding: 0.5em 0.75em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	margin-left: 10px;
	font-weight: 800;
	background-color: #1cac81;
	color: #fff;
}
.osl-badge-brand-outline{
	border: 1px solid #1cac81;
	background: none;
	color: #1cac81;
}
.osl-badge-brand:hover{
	background-color: #1cac81;
	color: #fff;
}
/* 높이값 세로값 */
.osl-h-px-38{
	height: 38px;
}
.osl-min-h-px--30 {
  min-height: 30px !important; 
}
.osl-min-h-px--50 {
  min-height: 50px; 
}
.osl-min-h-px--80 {
  min-height: 80px; 
}
.osl-max-h-px--100 {
  max-height: 100px; 
}
.osl-min-h-px--130 {
  min-height: 130px; 
}
.osl-min-h-px--140 {
  min-height: 140px; 
}
.osl-min-h-px--202 {
  min-height: 202px; 
}
.osl-min-h-px--220 {
  min-height: 220px; 
}
.osl-min-h-px--250 {
  min-height: 250px; 
}
.osl-max-h-px-260{
	max-height: 260px;
}
.osl-min-h-px--300 {
  min-height: 300px; 
}
.osl-min-h-px--365 {
  min-height: 365px; 
}
.osl-min-h-px--400 {
  min-height: 400px; 
}
.osl-min-h-px--415 {
  min-height: 415px; 
}
.osl-min-h-px-imp--415{
  min-height: 415px !important;  
}
.osl-min-h-px--490 {
  min-height: 490px; 
}
.osl-min-h-px--575 {
  min-height: 575px; 
}
.osl-max-h-px--590 {
  min-height: 590px !important; 
}
.osl-min-h-px--620 {
  min-height: 620px; 
}
.osl-min-h-px--700 {
  min-height: 700px; 
}
/* 가로 값 */
.osl-min-width-70{
	min-width: 70px;
}
.osl-min-width-80{
	min-width: 80px;
}
.osl-min-width-85{
	min-width: 85px;
}
/* 색상값 */
.osl-color--blue{
	color:#5867dd;
}
.osl-color--red{
	color:#fd397a;
}

/*cursor: pointer*/
.osl-cursor-pointer{
	cursor: pointer;
}
.osl-contents-frame {
    background: #23241f;
    color: #f8f8f2;
    max-height: 550px;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: auto;
}
.osl-contents-frame>pre{
	width: 100%;
	height: 100%;
}
.osl-contents-frame>pre>code{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5rem;
}
/* code 영역 배경색 */
.osl-code-bg{
	background-color: #23241f;
}

.osl-bg-none{
	background: none;
}
.osl-font{
    font-family: "Poppins", "Nanum Gothic";
}
/* 글자크기 */
.osl-font-lg {
  font-size: 1.1rem !important; 
}
.kt-login-v2__form.kt-form .form-control{
	font-size: 1.2rem;
}
/* datepicker */
.daterangepicker select.yearselect{float:left;}
/* toast  */
.toast .toast-message {
    font-size: 1rem;
}
#toast-container > div{
	min-width: 300px;
    width: auto;
}
.osl-toastr-center {
    top: 50%;
    left: 40%;
}
/* 즐겨찾기 색상 */
.osl-favorites--active:before{
	color:#fdb723;
}
.osl-flex-direction-column{
	-ms-flex-direction: column;
    flex-direction: column;
}
/* 로그인 input 영어 입력 모드 */
form#kt_login_form #usrId, form#kt_login_form #usrPw{
	-webkit-ime-mode:inactive;
	-moz-ime-mode:inactive;
	-ms-ime-mode:inactive;
	ime-mode:inactive;
}
/* 상단 메뉴바 조절 */
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon{
	height: 34px;
    width: 34px;
}
.kt-grid.kt-grid--ver:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item.kt-grid__item--fluid, .kt-grid.kt-grid--ver:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item.kt-grid__item--fluid
{
	    flex-wrap: wrap;
}
.kt-subheader .kt-container{
	height:60px;
}
/* 프로젝트 및 권한그룹 선택*/
.kt-aside{
	width: 375px !important;
	left: -375px;
	padding: 1.5rem;
	box-shadow: none;
    -webkit-box-shadow: none;
}
.kt-aside-menu{margin:15px 0 0 0;}
.kt-aside-menu .kt-menu__nav .kt-menu__link-icon{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25px;
    flex: 0 0 25px;
    padding: 0;
    font-size: 1.2rem;
    cursor:pointer;
}
.kt-aside-menu .kt-menu__nav .kt-menu__link-icon:hover{
	color: #1cac81;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon{
	-ms-flex: 0 0 25px;
    flex: 0 0 25px;
}
.kt-aside-menu .kt-menu__nav .kt-menu__item{
	padding-left: 20px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link
{
	padding-left:0;
}
/* ie 스크롤 렌더링 문제로 한번 더 선언 */
.ps{overflow:hidden !important;}
.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-wrapper img {
    width: 34px;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__inner > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-icon,
.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__inner > .kt-menu__item:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-icon:hover,
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav .kt-menu__link-icon.flaticon-star:hover,
.osl-charge-requirements .kt-portlet__head .kt-portlet__head-toolbar .flaticon-star:hover{
    color: #fdb723;
}
select[id^=usrOpt_] {
    min-width: 150px;
}
.osl-aside__badge:empty{display:inline-block;}
.osl-link--disabled{cursor: default;}
.osl-favorites__item .kt-menu__link {
    padding: 9px 0;
}
.osl-favorites__item {
    cursor: pointer;
}
.osl-favorites__item:hover .kt-menu__link .kt-menu__section-text {
    color: #1cac81 !important;
}
.btn.btn-default i {
    color: #645ca1;
}
.kt-nav.kt-nav--v3 .kt-nav__item .kt-nav__link
{
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}
.kt-nav .kt-nav__item > .kt-nav__link .kt-nav__link-text
{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tooltip-inner{max-width: 300px;}
.kt-portlet__head.osl-portlet__head__block{
	flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* button */
.osl-datatable-search__btn-title--none .btn i{
	padding:0;
}
/* draggable */
.osl-widget-draggable {
    background-color: #fff;
    cursor: move;
    border: 1px solid #dee2e6;
}
.osl-widget-draggable:hover{
	border: 1px solid #1cac81;
}
.osl-widget-draggable.gu-mirror .kt-widget__desc {
    display: none;
}
.osl-widget-draggable.gu-mirror .kt-media > img {
    width: 24px;
    height: 24px;
}
.osl-widget-draggable.gu-mirror {
    width: auto !important;
    height: auto !important;
}
.osl-widget-draggable.active{
	border: 1px solid #1cac81;
}
/* inbox */
.kt-inbox .kt-inbox__icon.osl-inbox__aside-menu-bar{
	display:none;
}
/* 사용자 선택 화살표 제어 */
.osl-user__active--block{
	display: none;
}
.osl-widget-draggable.active .osl-user__active--block{
	display: block;
}

/* prj1000 */
.osl-prj-group-md{
    height: 26px;
    font-size: 15px;
}
.osl-widget{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kt-widget__title small{
	margin-left: 10px;
	font-size: 0.8rem;
	line-height: 1rem;
	font-weight: 400;
	color: #aeb2b7;
}
.osl-widget .osl-widget-info__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex: 1 1 0;
    width: 100%;
}
.osl-widget-info__item .osl-widget-info__item-icon{
	width: 4rem;
    height: 4rem;
    text-align: center;
}
.kt-media span{
	background-color: #ebedf2;
}

/* prj1002 */
.osl-auth-user--added {
    opacity: 0.4;
}
.osl-auth-user--added > .kt-portlet {
    background-color: #ccc;
}
.osl-textarea__resize--none{
	resize:none;
}
.osl-drag-zone--over{
	border:1px dashed #ccc;
}
.osl-card__data--empty {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}
tr.kt-datatable__row.osl-datatable__row-assign--none {
    text-decoration: line-through;
	background-color: #e7e6ee !important;
}
.osl-widget-info__item-icon > img {
    width: 100%;
}
.osl-widget-info__item .osl-widget-info__item-info{
	-webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    padding-right: 1rem;
    padding-left: 0.7rem;
    text-align: center;
}
.osl-widget-info__item .osl-widget-info__item-info .osl-widget-info__item-title{
	text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: #343d3e;
    margin-bottom: 0.3rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.osl-widget-info__item .osl-widget-info__item-info .osl-widget-info__item-desc{
	font-weight: 500;
    font-size: 2rem;
    color: #1ea780;
}
/* datatable */
.kt-datatable.osl-datatable-footer__divide.kt-datatable--default > .kt-datatable__pager{
	background-color: #fff;
	padding-bottom:25px;
}
.input-group i{color:#fff;}
.osl-datatable-search {
    margin-bottom: 1rem;
}
/* datatable header boldest*/
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell > span,
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell:first-child{
	font-weight:900;
}
/* datatable row even bgColor*/
.kt-datatable.kt-datatable--default.kt-datatable--loaded > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-datatable__row--even {
    background-color: #fafcfb;
}
/* datatable row hover bgColor*/
.kt-datatable.kt-datatable--default.kt-datatable--loaded > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-datatable__row--hover {
    background-color: #d9ede7;
}
/* datatable row max height*/
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--left > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--left > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--left > span{
	max-height: 112px;
    overflow: hidden;
}
/* datatable row detail overflow padding */
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail{
    padding: 0 20px;
}
/* datatable row active bgColor */
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-datatable__row--active > .kt-datatable__cell{
	background: #d9ede7;
}

/* datatable row checkbox bg-color */
.kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > input:checked ~ span{
	background: #ffffff;
}
.kt-checkbox.kt-checkbox--solid > span:after{
	border: solid #1cac81;
}
.kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > span{
	background: #e7e6ee;
}
.kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail table
{
	border:none;
	width: 100%;
}
.kt-datatable__detail > table
{
	border-collapse: separate;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell
{
	display: inline-block;
    min-width: 100%;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell:last-child
{
	border-bottom: 1px solid #eeeef5;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell:last-child > span {
    text-align: left;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell:first-child > span:before {
    content: "\f0db\00a0";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell:last-child > span:before {
    content: "\f044\00a0";
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row-detail .kt-datatable__detail .kt-datatable__row > .kt-datatable__cell:last-child
{
	padding-left: 12px;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell
{
	padding:5px;
}
.btn.btn-default{
	color: #65686b;
	background-color: #fff;
}
.osl-word__break {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.osl-display--block{
	display: block;
}
.osl-word__break--w100{max-width: 100px;}
.osl-word__break--w150{max-width: 150px;}
.osl-word__break--w200{max-width: 200px;}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span > .kt-user-card-v2{justify-content: center;}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--left > span > .kt-user-card-v2{justify-content: flex-start;}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--right > span > .kt-user-card-v2{justify-content: flex-end;}
.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > input:checked ~ span,
.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > span{
	background: #2f2e38;
}
.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell .kt-checkbox.kt-checkbox--solid > input:checked ~ span:after{
	border: solid #fff;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell
{
	padding: 16px 5px;
}
tr.kt-datatable__row.osl-datatable__row--selected {
    background-color: #d9ede7 !important;
}
.input-group > .kt-input-icon{
	position: relative;
	z-index: 3;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.input-group > .kt-input-icon.osl-border-radius-none--left > .form-control{
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .kt-input-icon.osl-border-radius-none--right > .form-control{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > .kt-input-icon.osl-border-radius-none > .form-control{
	border-radius: 0;
}
.input-group > .kt-input-icon > .form-control:focus+span.kt-input-icon__icon i{
	color: #1cac81;
}
.input-group > .form-control.kt-select2+span{
	position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.osl-datatable-search__input.osl-datatable-search--hide,
.input-group > .form-control.kt-select2+span.osl-datatable-search--hide{display:none;}
.swal2-container{    z-index: 10000;}
.dropzone{
	background: #f7f8fa;
}
.dropzone .dz-preview.dz-image-preview {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
label.required:after {
    content: "\00a0*";
    color: red;
}
.select2-container--default .select2-results__option .select2-results__group {
    font-weight: 900;
}
/* modal */
.modal .modal-content .modal-body{
	background-color: #eeeef4;
	overflow-y: auto;
}
.ps > .ps__rail-y > .ps__thumb-y{
	background: #1cac81;
}
.modal .modal-header .close {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 0;
}
.modal.modal-fs{
	padding:0 !important;
}
.modal-dialog.modal-fs{
	max-width:95%;
	height: 95%;
}
.modal-dialog.modal-fs > .modal-content{
	height:100%;
	border-radius: 0;
}
.osl-modal__cursor--move {
    cursor: move;
}
.osl-div__cursor--grab{
	cursor: grab;
}
.osl-hover--brand{
	border: 1px solid transparent;
}
.osl-hover--brand:hover{
	border: 1px solid #1cac81;
}
.modal .modal-content.osl-modal__screen--fit{
	max-height: calc(100vh - 50px);
}
.modal-footer{
	background-color:#fff;
}
/* tree */
.jstree-default .jstree-anchor {
    color: #2f2e38;
}
/* table 내부 checkbox, radio 위치 */
.table th .kt-radio, .table td .kt-radio{
	right:-5px;
}
.table th .kt-checkbox, .table td .kt-checkbox{
	top:5px;
}

/* summernote 수정 불가 (contenteditable="false")일 때 배경색 */
.note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
    background-color: #fbfbfb !important;
}

/* element min width */
.osl-min-width--11rem{
	min-width: 11rem;
}
.osl-min-width--6rem{
	min-width: 6rem;
}
.osl-min-width--5rem{
	min-width: 5rem;
}

/* element min height */
.osl-min-height--9rem{
	min-height:9rem;
}
.osl-min-height--10rem{
	min-height:10rem;
}
.osl-min-height--11rem{
	min-height:11rem;
}
.osl-min-height--12rem{
	min-height:12rem;
}

/* kt-avatar 이미지 사이즈 크게 */
.kt-avatar .osl-avatar__holder-lg{
	width: 145px;
    height: 145px;
}

/* element border */
.osl-content__border--light{
 	border: 1px solid #ebedf2;
}

/* fileUpload,첨부파일 기본 view 읽기,다운로드 전용*/
/*첨부파일  - 썸네일 다운로드 모양*/
.osl-uppy-DashboardItem-action--download{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	text-align:center;
	color: white;
	font-size: 3rem;
	line-height: 2em;
	z-index:100;
	cursor:pointer;
	border-radius: 3px;
}
.uppy-size--md .osl-uppy-DashboardItem-action--download{
	font-size: 4rem;
}
.uppy-DashboardItem{
	position:relative;
}
.fileReadonly button.uppy-DashboardContent-addMore,
.fileReadonly button.uppy-Dashboard-Item-action--remove,
.fileReadonly .uppy-DashboardTabs,
.fileReadonly .uppy-Dashboard-dropFilesHereHint,
.fileReadonly button.uppy-DashboardItem-action--remove {
    display: none;
}

/* fileUpload,첨부파일 리스트 형태*/
/*첨부파일  - 첨부 파일 전체 영역*/
.osl-show-uppy{
	width: 100%; 
	height:370px; 
	border-radius:5px;
	background-color:#f7f8fa; 
	border: 1px solid #ebedf2;
}
/*첨부파일  - 파일 개수*/
.osl-uppy-title{
	height:50px; 
	line-height:50px; 
	padding: 0 15px; 
	color:#aeb2b7; 
	font-size:1rem; 
	font-weight:500; 
	border-bottom:1px solid #eaeaea; 
	background-color:#fafafa; 
	text-align:center;
}
/*첨부파일  - 파일 전체 영역*/
.osl-uppy-body{
	padding: 10px 0; 
	overflow-y: auto; 
	height:318px;
}
/*첨부파일  - 각 파일*/
.osl-uppy-file{
	margin:5px 15px; 
	width: calc(25% - 30px); 
	height:190px; 
	float:left;
}
/*첨부파일  - 썸네일 전체 사이즈*/
.osl-uppy-file-sumnail{
	width:100%; 
	height:120px; 
	background-color:rgb(131, 137, 153); 
	border-radius:3px;
	position:relative; 
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
/*첨부파일  - 썸네일 hover*/
.osl-uppy-file-sumnail:hover .osl-uppy-list-dashboardItem-action--download{
	display:block;
}
/*첨부파일  - 썸네일 hover시 다운로드 모양*/
.osl-uppy-list-dashboardItem-action--download{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0006;
	text-align:center;
	color: white;
	font-size: 4rem;
	line-height: 120px;
	display: none;
}
/*첨부파일  - 썸네일 뒤쪽 컬러 배경*/
.osl-uppy-file-sumnail-bg{
	width:58px;
	height: 76px;
	background-color:#fff; 
	position:absolute; 
	top:50%; 
	left:50%; 
	transform: translate(-50%, -50%); 
	-webkit-transform: translate(-50%, -50%); 
	border-radius:3px;
}
/*첨부파일  - 파일명 파일 용량 영역*/
.osl-uppy-file-info-group{
	padding-right:5px;
	padding-top: 9px;
}
/*첨부파일  - 파일명*/
.osl-uppy-file-name{
	font-size:12px; 
	line-height: 1.3; 
	font-weight: 500; 
	margin-bottom: 4px; 
	word-break: break-all; 
	color:#333;
}
/*첨부파일  - 파일용량*/
.osl-uppy-file-volume{
	font-size:11px; 
	line-height: 1.3; 
	font-weight: 400; 
	color: #757575
}
/*첨부파일  - icon svg path사이즈*/
.osl-uppy-iconFile{
	width:38px; 
	height: 38px; 
	position:absolute; 
	top:50%; 
	left:50%; 
	transform: translate(-50%, -50%); 
	-webkit-transform: translate(-50%, -50%); 
	border-radius:3px;	
}
/*첨부파일  - image 배경색*/
.osl-uppy-image-bg{
	background-color: #686DE0;
}
/*첨부파일  - audio 배경색*/
.osl-uppy-audio-bg{
	background-color: #049BCF;
}
/*첨부파일  - video 배경색*/
.osl-uppy-video-bg{
	background-color: #19AF67;
}
/*첨부파일  - pdf 배경색*/
.osl-uppy-pdf-bg{
	background-color: #E2514A;
}
/*첨부파일  - archive 배경색*/
.osl-uppy-archive-bg{
	background-color: #00C469;
}
/*첨부파일  - file 배경색*/
.osl-uppy-file-bg{
	background-color: #A7AFB7;
}
/*첨부파일  - text 배경색*/
.osl-uppy-text-bg{
	background-color: #5A5E69;
}
/*첨부파일  - 실제 이미지*/
.osl-uppy-file-sumnail>img{
	width:100%;
	height: 100%;
}
 
/*osl-uppy-file--fullsize 한줄 라인으로 전체 변환*/
/*첨부파일  - 각 파일*/
.osl-uppy-file--fullsize.osl-uppy-file{
	padding:10px 20px;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eaeaea;
	margin: 0;
}
/*osl-uppy-file--fullsize 한줄 라인일때 맨마지막 박스 border값 제거*/
.osl-uppy-file--fullsize:last-child{
	border-bottom:0;
}
/*첨부파일  - 썸네일 전체 사이즈*/
.osl-uppy-file--fullsize .osl-uppy-file-sumnail{
	width: 50px;
	height: 50px;
	float: left;
}

/*첨부파일  - 썸네일 hover시 다운로드 모양*/
.osl-uppy-file--fullsize .osl-uppy-list-dashboardItem-action--download{
	font-size: 3rem;
	line-height: 52px;
}
/*첨부파일  - 썸네일 뒤쪽 컬러 배경*/
.osl-uppy-file--fullsize .osl-uppy-file-sumnail-bg{
	width: 28.62px;
	height: 37.5px;
}

/*첨부파일  - icon svg path사이즈*/
.osl-uppy-file--fullsize .osl-uppy-iconFile{
	width: 25px;
	height: 25px;
}
/*첨부파일  - 파일명 파일 용량 영역*/
.osl-uppy-file--fullsize .osl-uppy-file-info-group{
	float: left;
	padding-left: 12px;
	padding-right: 8px;
}
.osl-uppy__btn{
	line-height: 50px;
	font-size: 1.5rem;
	opacity: 0.6;
	cursor: pointer;
}
.osl-uppy__left{
	float: left;
}
.osl-uppy__left-btn:before{
	content: "\f359";
}
.osl-uppy__right{
	float: right;
}
.osl-uppy__right-btn:before{
	content: "\f35a";
}
.osl-uppy__left-btn:before,.osl-uppy__right-btn:before{
	font-family:'Font Awesome 5 Free';
	color: #1cac81;
	font-weight: 900;
}
.osl-uppy__btn:hover{
	opacity:1;
}
.chosen{
	border: 1px solid #1cac81 !important;
	box-sizing: border-box;
}
/*사용자 정보 - 모달 폰트 색상*/
.osl-user-info__modal{
	color: #333;
}
/*사용자 정보 - 모달 사용자 사진 감싸는 박스*/
.osl-user-info__modal .col-3{
	display: flex;
}
/*사용자 정보 - 모달 사용자 정보 텍스트 영역 벗어날 시 줄바꿈*/
.osl-user-info__modal .col-9{
	word-break: break-all;
}
/*사용자 정보 - 모달 사용자 사진 영역*/
.kt-media.osl-media{
	margin: auto;
}
/*사용자 정보 - 모달 사용자 사진*/
.osl-media{
	width: 100%;
}
/*사용자 정보 - 모달 사용자 사진 이미지*/
.kt-media.osl-media img{
	max-width: 120px;
	max-height: 150px;
	height: auto;
	margin: auto;
}
/*사용자 정보 - 사용자 이름*/
.osl-user-name{
	font-size: 1.5rem;
	line-height: 40px;
}
/*사용자 정보 - 메세지 버튼 우측 정렬*/
.osl-user__message-btn--right{
	float:right;
}
/*사용자 정보 - 내용 아이콘*/
.osl-user-info__modal i {
	line-height: 21px;
}
.osl-padding-none{
	padding:0 !important;
}
.osl-chart--project{
	height: 210px;
	text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.osl-chart--project__tooltip {
    padding: 1rem;
}
.osl-calendar__guide-color {
    height: 27px;
    width: 27px;
    margin: 3px;
    display: inline-block;
    border-width: 4px;
    line-height: 17px;
    text-align: center;
	cursor: pointer;
}

.flex-flow--inherit{
	flex-flow: inherit;
}


.osl-timeline-item-center:after{
	display: none;
}
.osl-timeline-content {
    position: relative;
    border-radius: 0.42rem;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.1);
    border: 1px solid #eee;
    background-color: #fff;
}
.osl-email{
    line-height: 1rem;
    font-weight: 400;
    color: #aeb2b7;
}

.osl-pop__tab--size-up{
	position: relative;
	width:157%;
	left: -55%;
	background-color: #fff;
	border-radius: 4px; 
	top: 20px;
}

.osl-div__border-lightgray{
	border: 1px solid #eef4f3;
}

.osl-div-cover{
    z-index: 1;
    width: 95%;
    height: 94%;
    position: absolute;
    opacity: 0.6;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 312.5px;
}
/* charge requirements */
.osl-charge-requirements__head-title {
    white-space: nowrap;
    overflow: hidden;
    max-width: 275px;
    text-overflow: ellipsis;
}

.osl-charge-requirements__body {
    overflow: hidden;
    max-height: 50px;
    text-overflow: ellipsis;
}

.osl-charge-requirements__color--white {
    color: #ffffff !important;;
}

.kt-offcanvas-panel .kt-offcanvas-panel__body .kt_datatable .kt-datatable__pager{
	padding: 0px
}

/* req4100 */
.osl-outline--brand{
	border: 2px solid #1cac81;
}
.osl-outline--brand-b{
	border-bottom: 2px solid #1cac81;
}
.osl-outline--secondary{
	border: 1px solid #e1e1ef;
}
.osl-outline--secondary-t-1{
	border-top: 1px solid #e1e1ef;
}
.osl-outline--secondary-b{
	border-bottom: 2px solid #e1e1ef;
}
.osl-display__flex{
	display: flex;	
}
.osl-display__flex-r{
	margin-left: auto;
}
.osl-req-prepList__font-bold{
	font-weight: bold;
}
.osl-req-prepList__max-width{
	max-width: 250px !important;
}
.osl-remove__box-shadow{
	box-shadow: none !important;
}
.osl-width-0{
	width: 0;
}
/* stm2100, bad1000 */
.osl-icon-transform__scale--150{
	transform: scale(1.5);
}
.osl-portlet__head-label{
	width: 100%;
}
.osl-bad__card-body{
	position: relative;
}
.osl-portlet__sub-toolbar{
	position: absolute;
	right: 15px;
	top: -55px;
}
.osl-portlet__head-toolbar>button{
	min-width: 43px;
	max-height : 35.33px;
}
.osl-portlet__head-label>div{
	width: 40%;
	line-height: 42px;
	float:left;
	text-align: center;
}
.osl-portlet__head-label>div:nth-child(2){
	text-align: right;
}
.osl-padding-b-6__5{
 	padding-bottom: 6.5px !important; 
}
.osl-padding-b-7{
 	padding-bottom: 7px !important; 
}
.osl-bad__width__100{
	word-break: break-word;
}
.osl-bad__width__95{
	width: 95%;
}
.osl-width__fit-content{
	width: fit-content;
}
.osl-bad_box{
	border: solid 1px #e1e1ef; 
	border-radius: 4px;
	padding: 15px;
}
.osl-card__prjnm{
		padding: 10px 20px;
	}
.groupuser-icon{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #dbdfe8;
	color: #9fa1ae;
	text-align: center;
	padding-left: 3px;
	font-size: 1.2rem;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.5rem;
}
.osl-content-group{
	width: 85%;
}
.osl-right-arrow-group, .osl-left-arrow-group>.btn.dropdown-toggle{
	text-align: center;
	display: flex;
	cursor: pointer;
}
.osl-left-arrow-group>.btn.dropdown-toggle{
	height: 100%;
}
.osl-left-arrow-group>.btn.dropdown-toggle:before{
	font-family: "Font Awesome 5 Free";
	content: "\f359";
}
.osl-left-arrow-group>.btn.dropdown-toggle:after{
	display: none;
}
.osl-right-arrow-group:before{
	font-family: "Font Awesome 5 Free";
	content: "\f35a";
}
.osl-right-arrow-group:before,.osl-left-arrow-group>.btn.dropdown-toggle:before{
	margin: auto;
	opacity: 0.3;
	padding: 0;
	color: #1cac81;
	font-size: 1.3rem;
	font-weight: 900;
}
.osl-right-arrow-group:before:hover, .osl-left-arrow-group>.btn.dropdown-toggle:before:hover{
	color: #1cac81;
	opacity: 1;
}
.osl-right-arrow-group{
	width: 15%;
	border-left: 1px solid #ebedf2;
}
.osl-left-arrow-group{
	width: 15%;
	border-right: 1px solid #ebedf2;
}
.left-user-group{
	border-bottom: 1px solid #ebedf2;
	padding: 10px;
	display: flex;
	align-items: center;
}
.checkBtn{
	width: 35px;
	height: 35px;
	margin: auto 0;
}
.chosen,.osl-usr-sortable-chosen{
	border: 1px solid #1cac81 !important;
}
.osl-stm__portlet .append-div{
	display: none;
	max-width: 400px;
}
.osl-stm__portlet .flex-flow--row{
	flex-flow: row !important;
}

.osl-desktop-flex-flow--row{
	flex-flow: row !important;
}
/*변경 금지 좌측 캘린더 사이즈 변경*/
.osl-calendar .datepicker{
	width: 100% !important;
}
.osl-portlet__body-style--none{
	background-color: transparent;
	box-shadow: none;
}
.osl-calendar-group-list__leftList{
    border: 1px solid #ebedf2;
    margin-top: 30px;
    padding: 5px;
}

/*flex 우측 정렬*/
.osl-margin-left--auto{
	margin-left: auto;
}	
/*flex 좌측 정렬*/
.osl-margin-right--auto{
	margin-right: auto;
}
.osl-dropdown-menu--position{
	top: -95px !important;
	left: 55px !important;
}
.osl-gradient-brand-bar{
	background: linear-gradient(45deg, transparent, #def5dc);
}
.osl-arrow-group--hide{
	display: none;
}
.osl-max-height--260{
	max-height: 260px;
}
.osl-max-width--100-p{
	max-width: 100%;
}
.osl-min-height--150{
	min-height: 150px;
}
.osl-display--inline-flex{
	display: inline-flex;
}
.osl-font-size--1_5{
	font-size: 1.5em;
}
.osl-border-b--dedede{
	border-bottom: 1px solid #dedede;
}
.osl-line-height--32{
	line-height: 32px;
}
.osl-margin-3{
	margin: 3px;
}
.osl-height--240{
	height: 240px;
}
.osl-height--480{
	height: 480px;
}
.osl-font-xs{
	font-size: 0.5rem;
}
.osl-flex-flow--column{
	flex-flow: column;
}
/*******************begin :: wizard*******************/
/*내용 영역 포함 전체 wizard*/
.osl-wizard {
  	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*탭 버튼 전체 영역*/
.osl-wizard .osl-wizard__nav {
  	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*탭 버튼 전체 내부 영역*/
 .osl-wizard .osl-wizard__nav .osl-wizard__nav-items {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*단계 탭 전체 div, 기본 4단계*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 0.25rem);
    flex: 0 0 calc(25% - 0.25rem);
    width: calc(25% - 0.25rem);
    height: 100px;
    background-color: #F3F6F9;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
/*단계 탭 전체 div - 3단계시 사용*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item.osl-wizard__nav-item_3{
    -ms-flex: 0 0 calc(33.33% - 0.25rem);
    flex: 0 0 calc(33.33% - 0.25rem);
    width: calc(33.33% - 0.25rem);
}
/*활성화 : 단계 탭 전체 div*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item[data-ktwizard-state="current"] {
    background-color: #ffffff;
}
/*단계 탭 내부 전체 div*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item .osl-wizard-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #3F4254;
    padding: 2rem 2.5rem;
}
/*단계탭 숫자*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item .osl-wizard-wrapper .wizard-number {
    font-size: 1.3rem;
    font-weight: 600;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 2.75rem;
    flex: 0 0 2.75rem;
    height: 2.75rem;
    width: 2.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(54, 153, 255, 0.08);
    color: #1cac81;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
/*활성화 : 단계탭 숫자*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item[data-ktwizard-state="current"] .osl-wizard-wrapper .wizard-number {
    color: #ffffff;
    background-color: #1cac81;
}
/*단계탭 텍스트 정렬 설정 column형태*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item .osl-wizard-wrapper .wizard-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*단계 탭 title 폰트 설정*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item .osl-wizard-wrapper .wizard-label .wizard-title {
    font-size: 1.1rem;
    font-weight: 600;
}
/*활성화 : 단계 탭 title 폰트 컬러*/
.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item[data-ktwizard-state="current"] .osl-wizard-wrapper .wizard-label .wizard-title {
    color: #1cac81;
}
/*단계 미표출 내용 div*/
.osl-wizard [data-ktwizard-type="step-content"], .osl-wizard [data-ktwizard-type="step-info"] {
  	display: none;
}

/*단계 표출 내용 div*/
.osl-wizard [data-ktwizard-type="step-content"][data-ktwizard-state="current"], .osl-wizard [data-ktwizard-type="step-info"][data-ktwizard-state="current"] {
    display: inline-block;
}
/*이동 버튼 그룹*/
.osl-form__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px 40px 0;
}
/*이전 버튼*/
.osl-wizard[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] {
    display: none;
}
.osl-wizard[data-ktwizard-state="between"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}
.osl-wizard[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

/*다음 버튼*/
.osl-wizard[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}
.osl-wizard[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}
.osl-wizard[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] {
    display: none;
}

/*완료 버튼*/
.osl-wizard[data-ktwizard-state="first"] [data-ktwizard-type="action-submit"] {
    display: none;
}
.osl-wizard[data-ktwizard-state="between"] [data-ktwizard-type="action-submit"] {
    display: none;
}
.osl-wizard[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
    display: inline-block;
}
 /*******************end :: wizard*******************/

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice{
	display: flex;
	padding: 5px 10px;
	align-items: center;
}
.select2.select2-container.select2-container--default{
	width: 100% !important;
}
.osl-select2-view{
	display: inline-table;
	padding: 5px 10px;
	align-items: center;
	width: 100% !important;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    left: auto;
    right: 1.85rem;
    height : auto;
}

.select2-container--default .select2-results__option[aria-selected=true],.select2-container--default .select2-results__option.select2-results__option--highlighted{
	background: #d9ede7;
}
.osl-line-height-rem-1_5{
	line-height: 1.5rem !important;
}
/*상단 리본*/
.osl-ribbon.osl-ribbon__top .osl-ribbon__target {
    border-bottom-right-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
}
.osl-ribbon__ver .osl-ribbon__target {
    padding: 5px 10px;
    min-width: 36px;
    min-height: 46px;
    text-align: center;
}
.osl-ribbon__btn{
	width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.osl-ribbon__btn:hover{
	background-color: #fff;
}
.osl-ribbon.osl-ribbon__top .osl-ribbon__btn:hover i{
	color: #1dc9b7 !important;
}

.osl-ribbon.osl-ribbon__clip.osl-ribbon__right .osl-ribbon__btn:hover i{
	color: #1cac81 !important;
} 

/*우측 리본*/
.osl-ribbon.osl-ribbon__clip.osl-ribbon__right .osl-ribbon__target{
	right: -10px;
}

.osl-ribbon.osl-ribbon__right .osl-ribbon__target{
    border-top-left-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
}
.osl-ribbon.osl-ribbon__clip.osl-ribbon__right .osl-ribbon__target .osl-ribbon__inner {
    border-top-left-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
}
.osl-ribbon .osl-ribbon__target {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    background-color: #3699FF;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}
.osl-ribbon .osl-ribbon__target > .osl-ribbon__inner {
    z-index: -1;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.osl-ribbon.osl-ribbon__clip.osl-ribbon__right .osl-ribbon__target .osl-ribbon__inner:before {
    border-width: 0 0 10px 10px;
    border-left-color: #181C32 !important;
    right: 0;
}
.osl-ribbon__shadow{
    position: absolute;
    border-style: solid;
    border-color: transparent !important;
    bottom: -27px;
    font-size: 2.3rem;
    right : -4px;
    color: #333;
    z-index: -2;
}

/* @media */

@media (max-width: 1400px){
	.osl-req-prepList__max-width{
		max-width: 600px !important;
	}
}
@media (min-width: 1400px){
	/* 창 크기 1400이상인경우 메뉴 크기 늘리기 */
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading{
		min-width:230px;
	}
	/*세로 값*/
	.osl-h-px--500 {
	  height: 500px; 
	}
}

@media (max-width: 1399.98px){
	/*단계 탭 전체 div, 1399,98이하*/
	.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 calc(50% - 0.25rem);
	    flex: 0 0 calc(50% - 0.25rem);
	    width: calc(50% - 0.25rem);
	    border-bottom-left-radius: 0.5rem;
	    border-bottom-right-radius: 0.5rem;
	    margin-bottom: 0.5rem;
	}
}

@media (max-width: 1024px){
	/*단계 탭 전체 div, 1024이하*/
	.osl-wizard .osl-wizard__nav .osl-wizard__nav-items .osl-wizard__nav-item{
		-webkit-box-flex: 0 !important;
	    -ms-flex: 0 0 100% !important;
	    flex: 0 0 100% !important;
	    position: relative;
	    width: 100% !important;
	}
	/* inbox */
	.kt-inbox .kt-inbox__icon.osl-inbox__aside-menu-bar{
		display: flex;
	}
}
@media (min-width: 1025px) {
	/* 로고 배경 색상 제거 */
	.kt-header__brand {
	    background: none;
	    padding: 0 0 0 15px;
	}
	/* 로그인 화면 로고 */
	.kt-login-v2__logo > a > img {
	    width: 100px;
	}
	/* 상단 2depth 메뉴 */
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading > .kt-menu__link-text {
	    font-weight:800;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading {
	    min-width: 200px;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading {
	    padding: 25px 30px 10px 30px;
	}
	.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	    display: inline-block;
	    max-width: 95px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.osl-top__menu--height{
		max-height:680px;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__inner {
	    min-height: 145px;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon,
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__inner > .kt-menu__item > .kt-menu__link .kt-menu__link-icon
	{
	    font-size: 1.2rem;
		width: 25px;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__inner > .kt-menu__item .kt-menu__link .kt-menu__link-icon, .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__subnav > .kt-menu__item .kt-menu__link .kt-menu__link-icon
	{
		flex: 0 0 25px;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu.kt-menu__submenu--center {
    	right: auto;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content > .kt-menu__item{
		flex-basis: auto;
	}
	/* 상단 기능 메뉴 레이아웃 변경 */
	.kt-header-mobile--fixed .kt-header__topbar {
	    position: fixed;
	    z-index: 96;
	}
	.kt-grid > .kt-grid__item {
	    max-width: 100%;
	}
	.kt-header__topbar {
	    margin-top: -95px;
	}
	.kt-header-pc{
	    -webkit-box-flex: 1;
	    flex: 1 auto;
	    -ms-flex: 1 0 0px;
	    min-width: 0;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	    align-items: stretch;
	    -webkit-box-pack: end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
	    padding: 0 15px 0 0;
	}
	.kt-header-pc .kt-header-pc__toolbar {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
	}
	.kt-header__topbar {
	    padding: 0 15px;
	    background-color: #2b2a35;
	    -webkit-box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75);
	    box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75);
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    margin-top: 85px;
	    height: 50px;
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    right: 0;
	    -webkit-box-pack: end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
	}
	.kt-header-pc .kt-header-pc__toolbar .kt-header-pc__toolbar-topbar-toggler {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    cursor: pointer;
	    background: none;
	    outline: none !important;
	    margin: 0;
	    padding: 0;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin: 0 0.5rem 0 1.25rem;
	}
	.kt-header-pc .kt-header-pc__toolbar .kt-header-pc__toolbar-topbar-toggler i {
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    color: #4ce2b5;
	    font-size: 1.7rem;
	    line-height: 0;
	}
	.kt-header-pc .kt-header-pc__toolbar .kt-header-pc__toolbar-topbar-toggler i {
	    color: #eae9f0;
	}
	.kt-subheader--fixed.kt-header--fixed .kt-subheader{z-index:97;}
	.kt-header__topbar--pc-on .kt-header__topbar{margin-top: 100px;}
	.kt-header__topbar--pc-on .kt-header__topbar {
	    margin-top: 135px;
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu {
	    z-index: 98;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu.kt-menu__submenu--right{
		right: -90px;
	}
	.kt-header__topbar--pc-on .kt-content{
		-webkit-transition: padding 0.3s ease;
     	transition: padding 0.3s ease;
		padding-top:65px;
	}
}
@media (max-width: 1200px) {
	.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	    max-width: 70px;
	}
}
@media (max-width: 1024px){
	.kt-header-pc{display:none;}
	.kt-subheader {
	    min-height: 60px;
	}
	.kt-header__topbar {
	    margin-top: -50px;
	}
	.kt-subheader-mobile--fixed.kt-header-mobile--fixed .kt-page {
	    padding-top: 120px;
	}
	.osl-pc-view{
		display:none;
	}
	.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	    display: inline-block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    
	}
	#submenu-prjGrp-sel,
	#submenu-prj-sel,
	#submenu-authGrp-sel,
	#submenu-prjGrp-sel+.dropdown-menu,
	#submenu-prj-sel+.dropdown-menu,
	#submenu-authGrp-sel+.dropdown-menu
	{display:none;}
	
	.kt-header__topbar--mobile-on .kt-content{
		-webkit-transition: padding 0.3s ease;
     	transition: padding 0.3s ease;
		padding-top:65px;
	}
	
	/*사용자 정보 정렬 속성 변경*/
	.osl-flex-info-column{
		flex-flow: column;
		align-items: start !important;
		-webkit-box-align: start !important;
	}
	.modal .modal-content.osl-modal__screen--fit{
		max-height: 100%;
	}
}
@media (max-width: 1399px) and (min-width: 1025px){
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu.kt-menu__submenu--fixed {
	    left: -150px;
	    right: auto;
	    width: auto;
	}
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu.kt-menu__submenu--fixed.kt-menu__submenu--right {
	    left: auto;
	    right: -175px;
	    width: auto;
	}
}
@media (max-width: 1400px) and (min-width: 1025px){
	.kt-nav .kt-nav__item > .kt-nav__link .kt-nav__link-text,
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading > .kt-menu__link-text,
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__inner > .kt-menu__item > .kt-menu__link .kt-menu__link-text,
	.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__link .kt-menu__link-text
	{
	    font-size: 0.85rem;
	}
	
	.osl-widget-info__item .osl-widget-info__item-icon{
		display:none;
	}	
}


@media (max-width: 1400px){
	.osl-bad__width__100{
		width:300px !important; 
	}
	.osl-portlet__head-label>div{
		width: 35%;
	}
	.osl-bad-columns-2__left{
		width: 100%;
	}
	.osl-bad-columns-2__right{
		width: 100%;
	}
	.osl-user-card-flex{
		display: flex;
		flex-flow: column;
	}
	.osl-right-arrow-group:before{
		content: "\f358";
	}
	.osl-left-arrow-group>.btn.dropdown-toggle:before{
		content: "\f35b";
	}
	.osl-stm__portlet .flex-flow--row--reverse{
		flex-flow: row-reverse !important;
	}
	.osl-stm__portlet .flex-flow--row--reverse>.osl-left-arrow-group{
		border-left: 1px solid #ebedf2;
		border-right: none;
	}
	
	/* 창 크기 1400이하인 경우 */
	.osl-1400-desktop-padding-0{
		padding: 0;
	}
	
}
@media (max-width: 1024px){
	.osl-portlet__head-label > div:first-child{
 		width: 100%;
	}
	.osl-portlet__head-label > div:nth-child(2){
		width: 100%;
		text-align: left;
		padding: 0 !important;
	}
	.osl-padding-b-6__5{
		padding: 0 !important;
		padding-bottom: 3.5px !important;
	}
	.osl-mobile-margin-t-20{
		margin-top: 20px !important;
	}
	.osl-mobile-padding-0{
		padding:0 !important;
	}
	.osl-mobile-padding-lr-10{
		padding-left:10px !important;
		padding-right:10px !important;
	}
}
@media (max-width:1023px){
	.kt-timeline__item.osl-timeline-item-left .osl-timeline-content,
	.kt-timeline__item.osl-timeline-item-right .osl-timeline-content,
	.kt-timeline__item.osl-timeline-item-center .osl-timeline-content{
		margin-left: 50px;
	}
}
@media (min-width:1024px){
	.osl-timeline-item-right{
		padding-left: 48.5%;
	}
	.osl-timeline-item-left{
		padding-right: 48%;
	}
	
	.osl-timeline-item-center{
		padding-left: 24%;
		padding-right: 24%;
	}
	
	.osl-timeline-item-center>.kt-timeline__item-section{
		padding-left: 46%;
	}
	.kt-timeline .kt-timeline__item:before{
		left: 50%;
	}
	.kt-timeline__item.osl-timeline-item-left .osl-timeline-content:after,
	.kt-timeline__item.osl-timeline-item-right .osl-timeline-content:after {
	    content: '\f0da';
	    position: absolute;
	    top: 25%;
	    right: -13px;
	    font-size: 3.2rem;
	    color: #fff;
	    font-weight: 800;
	    -webkit-text-shadow:  4px 1px 6px #e2e2e2;
	    text-shadow:  4px 1px 6px #e2e2e2;
	    font-family: 'Font Awesome 5 Free';
	}
	.kt-timeline__item.osl-timeline-item-right .osl-timeline-content:after {
	    content: '\f0d9';
	    left: -13px;
	    text-shadow: -2px 2px 6px #e2e2e2;
	}
	.flex-row-reverse-desktop{
		flex-flow: row-reverse;
	}
	.kt-timeline__item.osl-timeline-item-left .osl-timeline-content{
		margin-right: 50px;
	}
	.kt-timeline__item.osl-timeline-item-right .osl-timeline-content{
		margin-left: 50px;
	}
}
@media (max-width: 900px){
	.osl-widget-info__item .osl-widget-info__item-icon{
		display:none;
	}	
}
@media(min-width:800px){
	.osl-desktop-max-w-285{
		max-width: 285px;
	}
}
@media (min-width: 769px){
	.osl-mobile-769-padding-l-20{
		padding-left: 20px !important;
	}	
}
@media (max-width: 768px){
	.osl-mobile-768-margin-t-20{
		margin-top: 20px !important;
	}	
	
	.osl-mobile-flex-flow--row{
		flex-flow: column !important;
	}
}

@media (max-width: 767px) {
	.osl-mobile-margin-t-20{
		margin-top: 20px;		
	}
	.osl-uppy__left-btn:before{
		content: "\f35b";
	}
	.osl-uppy__right-btn:before{
		content: "\f358";
	}
	.osl-uppy__left{
		float: right;
	}
}

@media (max-width:767px){
	
	.select2-selection.select2-selection--multiple > .select2-selection__rendered{
		min-height: 57px;
		max-height: 114px;
		overflow-y: auto !important;
	}
	.osl-select2-view{
		min-height: 57px;
		max-height: 114px;
		overflow-y: auto !important;
	}
	
	.osl-mobile-text--left{
		text-align: left !important;
	}
}
@media (max-width: 700px) {
	/* span.class에 osl-resize__display--show 있는경우 숨기지 않음*/
	button.btn > span:not(.osl-resize__display--show) {
	    display: none;
	}
	button.btn i{
		padding-right: 0;
	}
	.osl-widget-info__item-info {
	    font-size: 11px;
	}
}


@media (max-width: 576px) {
	/*탭 버튼 전체 내부 영역 , 576이하*/
	.osl-wizard .osl-wizard__nav .osl-wizard__nav-items {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column; 
	}
}
@media (max-width: 500px) {
	#kt-subheader__breadcrumbs > .osl-subheader__menuNm--upup,
	#kt-subheader__breadcrumbs > .osl-subheader__menuNm--up
	{display:none;}
	
	#kt-subheader__breadcrumbs > .osl-subheader__menuNm{
	    color: #33323f;
    	font-weight: 500;
    	font-size: 1rem;
    	max-width: 230px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
    }
}

@media (max-width: 430px){
	.osl-portlet__head-label > div:nth-child(2),
	.osl-portlet__head-label > div:last-child{
		width: 100%;
		height: 10px;
		line-height: 10px;
		text-align:left;
	}
}

@media (max-width:400px){
	/*사용자 정보 - 모달 사용자 사진 숨김*/
	.osl-user-info__modal_dislay--none{
		display: none !important;
	}
	/*사용자 정보 - 텍스트 영역 full사이즈 변환*/
	.osl-user-info__modal_dislay--full{
		max-width: 100%;
		flex: 0 0 100%;
	}
}